@media screen and (max-width: 600px) {
    .mudar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
  }
  


cores do projeto
/* Color Theme Swatches in Hex */
.Natureza-1-hex { color: #006FC7; }
.Natureza-2-hex { color: #4C9431; }
.Natureza-3-hex { color: #522A00; }
.Natureza-4-hex { color: #FFC55A; }
.Natureza-5-hex { color: #FF7B24; }




nav.Natureza-1-hex {
    background-color: #006FC7;
}

div.Natureza-2-hex {
  background-color: #4C9431;
}

div.Natureza-3-hex {
    background-color: #522A00;
}

div.Natureza-4-hex {
  background-color: #FFC55A;
}

div.Natureza-5-hex {
  background-color: #FF7B24;
}

div.tamanho_img {
  max-width: 100vw;
  max-height: 100vh;

  
}


div.meio {
    margin-top: 30px;
}

.Natureza-2-hex {
  color: black;
}

div.tam_icone {
  max-width: 100vw;
  max-height: 100vh;
}

/*footer*/

footer {
    background-color: #325573; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    padding: 20px 0; /* Espaçamento interno do rodapé */
    text-align: center; /* Centraliza o texto */

  }
  
  .container {
    max-width: 1200px; /* Largura máxima do conteúdo do rodapé */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  }


div.video_site{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

  



      

